{% extends 'main/base_layout.html' %}
{% block main-content %}
<div class="container">
  <div class="row">
    <div class="text-center col-12">
      <form method="post" action="{% url 'movies:edit-movie' movie.id %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Submit</button>
        <div class="text-center mt-5" style="display: inline">
          <a href="{% url 'movies:index'  %}">
            <button type="button" class="btn btn-info">Back to Movies</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
