<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            TODO INDEX
        {%endblock%}
    </title>

    <link href="{% static 'main/assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'main/assets/js/bootstrap.bundle.min.js' %}"></script>

</head>
<body>
{% include 'main/header.html' %}

<a href="{% url 'todo:index' %}">TODO INDEX</a>
<br/>
<a href="{% url 'todo:todo-list' %}">TODO LIST</a>
<br/>
<br/>

{% block main-content %}
<li> You need to override block main-content </li>
{% endblock %}

<br/>

{% include 'main/footer.html' %}
</body>
</html>