{% load static %}
<header>
  
  <nav
    class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    id="navbarId"
  >
    <div class="container-fluid">
      <a id="logo" class="navbar-brand" href="{% url 'movies:index' %}"
        >Moive DB <i class="bi bi-images"></i
      ></a>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarMenu"
        aria-controls="navbarMenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <nav class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'movies:index' %}">Movies List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'todo:todo-list' %}">Todos</a>
          </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
            <a>{{user}}</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'accounts:signup' %}">Signup</a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </nav>
</header>
